<section>
    <h1>Softuni accomodation</h1>
    <p>Welcome to softuni sleepover</p>
    <a href="/catalog">Browse Listing</a>
    {{#if hasUser}}
    <a href="/create">New accomodation</a>
    {{/if}}
</section>