<section>
    <h1>Register</h1>
    <form action="/auth/register" method="post">
        {{#if error}}
        {{#each error}}
        <p>{{msg}}</p>
        {{/each}}
        {{/if}}
        {{!-- {{#with fields}} --}}
        <label><span>Username</span><input {{#if fields.username}}class="field-error"{{/if}} type="text" name="username" value="{{username}}"></label>
        <label><span>Password</span><input {{#if fields.pass}}class="field-error"{{/if}} type="password" name="pass"></label>
        <label><span>Repeat Password</span><input {{#if fields.repass}}class="field-error"{{/if}} type="password" name="repass"></label>
        <input type="submit" value="Log in">
        {{!-- {{/with}} --}}
    </form>

    <div><h3>You have an account? <a href="/auth/login">Login here</a></h3></div>
</section>